.list[data-v-57bf482a]{display:flex;flex:1;flex-direction:column;gap:1rem;overflow:hidden}.list .search[data-v-57bf482a]{box-sizing:border-box;padding-right:var(--space);width:100%}.list .translate[data-v-57bf482a]{font-size:1rem}
